<div class="wrapper">
  <div *ngIf="!loading" class="body">
    <img src="../../../assets/img/image.png" class="logo" alt="login">
    <h1>Recuperar Contraseña</h1>
    <form [formGroup]="recuperarUsuario" (ngSubmit)="recuperar()">
      <div class="form-floating mb-3">
        <input type="email" formControlName="correo" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>


      <div class="d-grid gap-2">
        <button class="btn btn-primary" type="submit">Recuperar</button>
      </div>

    </form>
  </div>
  <app-spinner *ngIf="loading"></app-spinner>
</div>

